*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: rgb(3, 16, 53);
   color: var(--text-light-gray);
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 1.5;
   overflow-x: hidden;
}

body::after
body::before{
    content: '';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(150px);
    opacity: o.5;
}
body::before{
    background-color: aqua;
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}
body::after{
    background-color:rgb(109, 31, 31) ;
    right: 0;
    top: 0;
    transform: translate(50%);
} 
 
a{
    text-decoration: none;
    font-weight: 500;
    display:  inline-block;

}
.gradient-text{
    background: linear-gradient(to right, var[--green],  var[--green],);
    -webkit-background-clip: text;
    background-clip: text;
    color: turquoise
    
}

.form-main{
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.form-content{
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}
.form-content .circle-3
.form-content .circle-2
.form-content .circle-1{
    position: absolute;
    background: linear-gradient(to right, var [--green] );background-color: brown;
    border-radius: 50%;
    z-index: -1;
}
.form-content .circle-1{
    height: 120px;
    width: 120px;
    left: 0;
    top: 10%;
    transform: translateX(-50%);
}







.form-content h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: white;
    font-weight: 500;
}

.form-content form{
    margin: 25px 0 20px;
}

.form-content .input-box{
    margin-bottom: 25px;
}

.form-content .input-control{
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(134, 129, 125);
    font-size: 16px;
}
.form-content .input-control:focus{
    outline: none;
}
.form-content .input-link{
    margin-top: 10px;
    text-align: right;
}

.form-content .btn{
    height: 45px;
    width: 100%;
    font-style: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: rgb(99, 148, 237)
     
}

.form-content .btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
    z-index: -1;
}

@media(max-width: 575px){
    body::after
    body::before{
        height: 250px;
        width: 250px;
        filter: blur(100px);
    }
    .form-content .box{
        padding: 30px;
    }
    .form-content h3{
        font-size: 24px;
    }
}

